RewriteRule ^/search?q=(.*)$ /search.html?q=$1 [NC,L]

RewriteRule ^/index$ /index.html [NC,L]

RewriteRule ^/feedback$ /feedback.html [NC,L]

RewriteRule ^/forum$ /forum.html [NC,L]

RewriteRule ^/ask$ /ask.html [NC,L]

RewriteRule ^/dashboard$ /dashboard.html [NC,L]

RewriteRule ^/account$ /account.html [NC,L]

RewriteRule ^/login$ /login.html [NC,L]

RewriteRule ^/logout$ /logout.html [NC,L]

RewriteRule ^/register$ /register.html [NC,L]

RewriteRule ^/forum/question/([0-9]+)(.*)$ /forumdetail.html?ques=$1 [NC,L]

RewriteRule ^/forum/?q=([a-zA-Z0-9]+)$ /forumsearch.html?q=$1 [NC,L]